html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  padding: 1em;
    font-family: 'Courier Prime', monospace;
  background-color: #f5f2e9;
}
#intro h1 {
  text-decoration: underline;
  margin: 0;
  margin-bottom: 0.2em;
}

#intro p {
  margin: 0.4em 0;
}

#intro img {
  max-width: 60%;
}

#intro #socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 1em;
}


a:visited {
  color: #0000EE;
}


a:hover {
  color: #0000aa;
}


@media only screen and (max-width: 767px) {
    /* Styles for extra small devices like phones */
  #intro img {
    max-width: 90%;
  }
}



.fade-in {
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
}

.fading-in {
    opacity: 1;
}

#friends {
  position: fixed;
  display: flex;
  justify-content: center;
}
